.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1054px;
  width: 100%;

  &--white {
    color: #000;
    background-color: #fff;
  }

  &--darkgray {
    color: #fff;
    background-color: #2A292A;
  }


  &--bb1gray {
    border-bottom: 1px solid #D9D9D9;
  }
}



@media (min-width: 768px) {
  .container {
    padding: 0 4%;
  }
}
