.reviews__list {
  @include list;
  position: relative;
  padding-bottom: 32px;

  .slick-arrow {
    position: absolute;
    top: 54px;
    z-index: 1;
    width: 32px;
    height: 32px;
    font-size: 0;
    border: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
  }

  .slick-prev {
    left: 0;
    background-image: url('../img/arrow-left.svg');
  }

  .slick-next {
    right: 0;
    background-image: url('../img/arrow-right.svg');
  }

  .slick-arrow.slick-disabled {
    opacity: 0;
  }

  .slick-dots {
    @include list;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      position: relative;
      width: 32px;
      height: 32px;
      font-size: 0;
      border: 0;
      background-color: transparent;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid #959595;
      }
    }

    .slick-active button::before {
      border-color: #000;
      background-color: #E9EEF1;
    }
  }
}

@media (min-width: 768px) {
  .reviews__list {
    padding-bottom: 64px;
  }

  .reviews__item {
    outline: none;

    &:nth-child(even) .row {
      flex-direction: row-reverse;
    }

    &:nth-child(even) .review__title,
    &:nth-child(even) .review__content {
      text-align: right;
    }
  }
}
